html, body, .cs-full-height {
    height: 100%;
}

#board, #win {
    display: none;
}

.cs-btn-margin-right {
    margin-right: 0.5rem;
}

.cs-btn-game-size {
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.cs-btn-game-level {
    width: 8rem;
}

.cs-col-padding {
    padding-bottom: 0.5rem;
}

.cs-fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.cs-fullscreen-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

footer {
    padding-top: 0.75rem;
}

#timer {
    padding-bottom: 0.5rem;
    color: var(--red);
}

#remaining-blocks-div {
    padding-top: 0.5rem;
}

#remaining-blocks {
    color: var(--green);
}

#notification {
    display: none;
    margin-top: 4.5rem;
}